.metadata/
build/
bin/
demo/testframework_emb6demoapp/
.sconf_temp/
.project
.cproject
_*/
*.svn-base
*.o
*.elf
*.hex
*.map
*.lst
*.eep
*.log
*.d
*.a
*.swp
*.bin

.sconsign.dblite
.settings/

doc/html/
doc/latex/
