.metadata/
build/
bin/
demo/testframework_emb6demoapp/
freertos/
.sconf_temp/
/.project
/.cproject
/.ccsproject
/.launches/
/targetConfigs/
/*.cmd
_*/
*.svn-base
*.o
*.elf
*.hex
*.map
*.lst
*.eep
*.log
*.d
*.a
*.swp
*.bin

GPATH
GRTAGS
GSYMS
GTAGS

tags

*~

.sconsign.dblite
.settings/

target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-udp/CC120x_CLI/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-udp/CC120x_SRV/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-udp/CC112x_CLI/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-udp/CC112x_SRV/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-udp/CC120x_UDP_ALIVE/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-udp/CC112x_UDP_ALIVE/*/*

target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-dtls/CC120x_CLI/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-dtls/CC120x_SRV/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-dtls/CC112x_CLI/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-dtls/CC112x_SRV/*/*

target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-mdns/CC120x_CLI/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-mdns/CC120x_SRV/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-mdns/CC112x_CLI/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-mdns/CC112x_SRV/*/*

target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-coap/CC120x_SRV/*/*
target/arch/msp430/msp430f5/ti/toolchain/IAR/demo-coap/CC112x_SRV/*/*


doc/html/
doc/latex/
/coap-server/
/lwm2m_client/
/dtls_client/
/dtls_server/
/udp_client/
/udp_server/
/udp socket server/
