[submodule "serial-interface-mac"]
	path = demo/serialapi/serial-interface-mac
	url = https://github.com/hso-esk/serial-interface-mac.git


[submodule "crc"]
	path = demo/serialapi/crc
	url = https://github.com/hso-esk/crc.git
