.metadata/
build/
bin/
demo/testframework_emb6demoapp/
.sconf_temp/
.project
.cproject
_*/
*.svn-base
*.o
*.elf
*.hex
*.map
*.lst
*.eep
*.log
*.d
*.a
*.swp
*.bin

.sconsign.dblite
.settings/

target/arch/msp430/ti/toolchain/IAR/demo-apss/CC1120_TX*/
target/arch/msp430/ti/toolchain/IAR/demo-apss/CC1120_RX*/
target/arch/msp430/ti/toolchain/IAR/demo-udp/UDP_SOCKET_SERVER*/
target/arch/msp430/ti/toolchain/IAR/demo-udp/UDP_SOCKET_CLIENT*/

doc/html/
doc/latex/
